#main header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  border-bottom: 1px solid rgb(100, 187, 202);
  margin-bottom: 20px;

  .logo {
    font-family: 'Playfair Display', serif;
    font-size: 34px;
  }

  .cart {
    display: flex;
    align-items: center;
    font-size: 20px;

    img {
      --side: 20px;
      width: var(--side);
      height: var(--side);
      margin-right: 10px;
    }
  }
}